<p id="notice"><%= notice %></p>

<h1>Ruby On Rails レポート</h1>

<table>
  <thead>
    <tr>
      <th>レポート番号</th>
      <th>タイトル</th>
      <th>レポート</th>
    </tr>
  </thead>

  <tbody>
    <% @diaries.each do |diary| %>
      <tr>
        <td><%= link_to diary.report_number, diary %></td><br>
        <td><%= diary.title %></td>
        <td><%= diary.body %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'レポートを新規作成', new_diary_path %>
